.main-wrapper-landing-page {
    align-items: center;
    background-color: black;
    background-image: url("../../images/spotifyLandingPageBackgroundChillHop.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}

.app-title {
    color: white;
    font-size: 120px;
    padding-bottom: 140px;
}

.app-description {
    align-items: center;
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: 400;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 60px;
}

.login-button {
    align-items: center;
    color: #1ED760;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.login-button:hover {
    filter: brightness(70%);
}

.login-description {
    background-color: #1ED760;
    border-radius: 28px;
    color: white;
    display: flex;
    font-size: 20px;
    justify-content: center;
    padding: 12px 20px;
    text-align: center;
}

.footer {
    bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    position: fixed;
}

@media (min-width: 320px) {
    .main-wrapper-landing-page {
        height: 100vh;
        width: 100vw;
    }

    /* .app-description {
        padding: 120px 0px;
    } */
}
