.form {
  border-top: 2px solid #D3D3D3;
  display: flex;
}
  
.input {
  border: none;
  border-radius: 0;
  font-size: 16px;
  padding: 2%;
  width: 100%;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  background: #1ED760;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  width: 20%;
}

.sendButton:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.seasonStyling {
  background: #651B0E;
}

.seasonStylingAlt {
  background: #E25B6A;
}

/* width */
div::-webkit-scrollbar {
  width: 12px;
}

/* Track */
div::-webkit-scrollbar-track {
  background: white;
}
 
/* Handle */
div::-webkit-scrollbar-thumb {
  background: grey; 
}

