.outerContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-left: 10px;
  width: 96%;
}
  
.container {
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: space-between;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
