.userslist {
  color: white;
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  margin-left: 15px;
  width: 26%;
}

.activeContainer {
  align-items: center;
  display: flex;
  margin-bottom: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.activeItem {
  align-items: center;
  display: flex;
}

.activeContainer img {
  padding-right: 4px;
}
