.infoBar {
  align-items: center;
  background: #1ED760;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
  
.leftInnerContainer {
  align-items: center;
  color: white;
  display: flex;
  flex: 0.9;
  margin-left: 5%;
  width: 100%;
}
  
.rightInnerContainer {
  display: flex;
  flex: 0.1;
  justify-content: flex-end;
  margin-right: 5%;
  width: 100%;
}

.rightInnerContainer:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.onlineIcon {
  margin-right: 5%;
}

.seasonStyling {
  background: #A92921;
}

.seasonStylingAlt {
  background: #0A7533;
}
