
.heading {
    border-bottom: 4px groove white;
    color: white;
    padding-bottom: 10px;
}
  
.duplicatemessage {
    color: white;
}
  
.button {
    background: #1ED760;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    width: 300px;
}

.seasonStyling {
    background: #F37D0F;
}

.seasonStylingAltHeader {
    border-bottom: 4px groove #FFE01B;
}

.button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

button:focus {
    outline: 0;
}
  
.mt-20 {
    margin-top: 20px;
}
  
@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
}
  