.heading {
    border-bottom: 4px groove white;
    color: white;
    padding-bottom: 10px;
}
  
.duplicatemessage {
    color: white;
}
  
.button {
    background: #1ED760;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 30px;
    padding: 20px;
    text-decoration: none;
    width: 320px;
}

.joinInput {
    border: black;
    border-radius: 5px;
    padding: 15px 20px;
    width: 320px;
  }

.icon-scroll-chat {
    animation-duration: 5s;
    color: white;
    margin-top: 60px;
}

.icon-scroll-chat:hover {
    cursor: pointer;
    opacity: 0.7;
}

.seasonStyling {
    background: #A92921;
}

.seasonStylingAltHeader {
    border-bottom: 4px groove #0A7533;
}

.button:hover {
    cursor: pointer;
    filter: brightness(70%);
}

button:focus {
    outline: 0;
}
  
.mt-20 {
    margin-top: 20px;
}

@media (min-width: 330px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
}
  