.overallDashboardWrapper {
    background-color: black;
    background-image: url("../../images/vaporwaveDashboardBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.maindDashboardWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.dashboard-item {
    width: 420px;
}

.seasonSelect {
    background-color: #F37D0F;
    border: 4px solid #F37D0F;
    margin-bottom: 2px;
}

.seasonSelect:hover {
    cursor: pointer;
}

.carouselButtons {
    /* padding-top: 10px; */
    bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}