.overallDashboardWrapper {
    background-attachment: fixed;
    background-color: black;
    background-image: url("../../images/vaporwaveDashboardBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.mainDashboardWrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.dashboardItem {
    width: 440px;
}

.seasonSelect {
    background-color: #A92921;
    border: 4px solid #A92921;
    color: white;
}

.seasonSelect:hover {
    cursor: pointer;
    filter: brightness(70%);
}

@media (min-width: 320px) and (max-width: 480px) {
    * {
        zoom: 0.8;
    }
    
    .mainDashboardWrapper {
        width: 100vw;
    }

    .dashboard-item {
        width: 100px;
    }
}
