.main-wrapper {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* height: 100vh; */
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.dashboard-item {
    width: 480px;
}
