* {
  box-sizing: border-box;
  /* font-family: 'Segoe UI'; */
  font-family: 'Segoe UI', '-apple-system', 'HelveticaNeue', sans-serif;
}
  
.joinOuterContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
  
.joinInnerContainer {
  width: 320px;
}
