* {
  box-sizing: border-box;
}
  
.joinOuterContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
  
.joinInnerContainer {
  width: 320px;
}
