.main-wrapper {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 10%;
}

.imageStyles {
    height: 0px;
    width: 0px;
}

.swatchesStyles {
    display: flex;
    justify-content: center;
    margin: 8px 0px 8px -60px;
}

.skipbuttons {
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 20px;
    margin: 0px 4px;
    outline: none;
}

.skipbuttons:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.nowPlayingName {
    color: white;
    font-size: 20px;
    margin-bottom: 4px;
}

.nowPlayingArtists {
    color: white;
    margin-bottom: 4px;
}

.nowPlayingAlbum {
    color: white;
    margin-bottom: 4px;
}

.shuffleRepeatState {
    color: white;
    font-size: 14px;
    margin-bottom: 6px;
}

.nowPlayingPanel {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

.nowPlayingAlbumCover {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 360px;
    justify-content: center;
    width: 360px;
}

.nowPlayingSide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seasonStyling {
    background-color: #F37D0F;
    border-color: #F37D0F;
}

.seasonStylingAlt {
    background-color: #FFE01B;
    border-color: #FFE01B;
}
