.main-wrapper {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 10%;
}

.imageStyles {
    height: 0px;
    width: 0px;
}

.swatchesStyles {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: -60px;
    margin-top: 10px;
}

.skipbuttons {
    background-color: #1ED760;
    border: 4px solid #1ED760;
    margin: 0px 8px;
    outline: none;
}

.skipbuttons:hover {
    cursor: pointer;
    filter: brightness(70%);
}

.nowPlayingName {
    font-size: 20px;
    margin-bottom: 4px;
    color: white;
}

.nowPlayingArtists {
    margin-bottom: 4px;
    color: white;
}

.nowPlayingAlbum {
    margin-bottom: 4px;
    color: white;
}

.shuffleRepeatState {
    margin-bottom: 4px;
    color: white;
}

.nowPlayingStatus {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

.nowPlayingAlbumCover {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 300px;
}

.nowPlayingSide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress {
    border: 1px solid #eee;
    height: 5px;
    border-radius: 3px;
    overflow: hidden;
    width: 300px;
}

.progressBar {
    background-color: #1ED760;
    color: white;
    height: 8px;
}

.durationMenu {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.durationMenuTimes {
    padding: 0px 20px;
}

.seasonStyling {
    background-color: #F37D0F;
    border-color: #F37D0F;
}

.seasonStylingAlt {
    background-color: #FFE01B;
    border-color: #FFE01B;
}

.controlButtonsColouring {
    color: black;
}

.noMusicPlayingMessage {
    color: white;
}
