.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  height: 100vh;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

