.App {
  text-align: center;
  height: 100vh;
  background-color: black;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  height: 100vh;
}

button {
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: white; 
}
