.progress {
    border: 1px solid #eee;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    width: 300px;
}

.progressBar {
    background-color: #1ED760;
    color: white;
    height: 6px;
}

.durationMenu {
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.durationMenuTimes {
    padding: 0px 4px;
}

.seasonStylingAlt {
    background-color: #FFE01B;
    border-color: #FFE01B;
}
