.controlButtons {
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 16px;
    padding: 3px 8px;
    margin: 0px 2px;
    outline: none;
}

.controlButtons:hover {
    cursor: pointer;
    opacity: 0.7; 
}

.pomodoroPanel {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.pomodoroHeader {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userProfile {
    color: #1ED760;
    text-decoration: none;
}

.userProfile:visited {
    color: #1ED760;
}

.userProfile:hover {
    animation: fadeIn ease 0.7s;
    -webkit-animation: fadeIn ease 0.7s;
    -moz-animation: fadeIn ease 0.7s;
    -o-animation: fadeIn ease 0.7s;
    -ms-animation: fadeIn ease 0.7s;
    background: black;
    color: white;
}

.greetingText {
    font-size: 40px;
}

.listeningHabitsTag {
    color: #fff;
    font-size: 14px;
    padding-bottom: 24px;
}

.icon-scroll {
    animation-duration: 5s;
    color: white;
}

.icon-scroll:hover {
    cursor: pointer;
    opacity: 0.7;
}

.seasonStyling {
    background-color: #651B0E;
    border-color: #651B0E;
}

.seasonStylingAlt {
    background-color: #E25B6A;
    border-color: #E25B6A;
}
