.controlButtons {
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 16px;
    padding: 3px 8px;
    margin: 0px 2px;
    outline: none;
}

.controlButtons:hover {
    cursor: pointer;
    opacity: 0.7; 
}

.countdown {
    color: #1ED760;
    font-size: 28px;
    padding: 4px 16px 4px 16px;
}

.pomodoroPanel {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.pomodoroHeader {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userProfile {
    color: #1ED760;
    text-decoration: none;
}

.userProfile:visited {
    color: #1ED760;
}

.userProfile:hover {
    text-decoration: underline;
}

.userProfileseasonStyling {
    color: #A92921;
}

.userProfileseasonStyling:visited {
    color: #A92921;
}

.pomodoroHeaderTitle {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
}

.pomodoroHeaderTimer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
}

.greetingText {
    font-size: 40px;
}

.pomodoroHeaderTitleText {
    font-size: 32px;
    padding: 0px 10px 0px 10px;
}

.listeningHabitsTag {
    color: #fff;
    font-size: 14px;
    padding-bottom: 24px;
}

.icon-scroll {
    animation-duration: 5s;
    color: white;
}

.icon-scroll:hover {
    cursor: pointer;
    opacity: 0.7;
}

.iconsSpacing {
    padding: 0px 4px;
}

.seasonStyling {
    background-color: #A92921;
    border-color: #A92921;
}

.seasonStylingAlt {
    background-color: #0A7533;
    border-color: #0A7533;
}

.seasonStylingIcons {
    color: #A92921;
}

.seasonStylingAltIcons {
    color: #0A7533;
}

.controlButtonsColouring {
    color: black;
}
