.messageBox {
  align-items: center;
  background: #F3F3F3;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  padding: 0px 12px;
}

.messageText {
  float: left;
  letter-spacing: 0;
  text-align: left;
  text-justify: inter-word;
  width: 100%;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  padding: 0 5%;
}

.sentText {
  align-items: center;
  color: #828282;
  display: flex;
  font-family: Helvetica;
  letter-spacing: 0.3px;
}

.timestampotherusers {
  font-size: 12px;
  padding: 0px 20px 0px 20px;
  text-align: left;
}

.timestamp {
  font-size: 12px;
  padding: 0px 20px 0px 20px;
  text-align: right;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundMain {
  background: #1ED760;
}

.backgroundLight {
  background: #F3F3F3;
}

.seasonStyling {
  background: #A92921;
}

.seasonStylingAlt {
  background: #0A7533;
}
