.not-found-page-wrapper {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

.sketchy-spotify {
    background-color: white;
    border-radius: 190px;
    margin-top: 20px;
    width: 400px;
}
