.not-found-page-wrapper {
    align-items: center;
    background-color: black;
    /* background-color: black; */
    background-image: url("../../images/notFoundPageVaporwaveBackground.png");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
}

.sketchy-spotify {
    background-color: white;
    border-radius: 190px;
    margin-top: 20px;
    width: 400px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .not-found-page-wrapper {
        width: 90vw;
    }

    .sketchy-spotify {
        width: 240px;
    }
}
